form.main_form{
  width: 350px;
  margin: 0 auto;
  display: block;
  border: 1px solid;
  border-color: red;
}
div.container_label {
  width: 150px;
  margin: 0 auto;
  border: 1px solid;
  border-color: black;
}

div.container_input{
  width: 200px;
  border: 1px solid;
  border-color: blue;
}


div.field{

}

font.name_field{
  font-family: cursive;
}
/**/
