<div class="container_line">
  <div class="container_label">
    <div>
      <font class="name_field">Логин:</font>
    </div>
    <div>
      <font class="name_field">Пароль:</font>
    </div>
    <div>
      <font class="name_field">ФИО:</font>
    </div>
  </div>
  <div class="container_input">
    <div>
      <input type="text" name="login">
    </div>
    <div>
      <input type="password" name="password">
    </div>
    <div>
      <input type="text" name="fio">
    </div>
  </div>
</div>
