body {
  background-color: black;
}
.actions {
  text-align: center;
}
.ai {
  background-image: url('./img/ai.jpg');
}

.player {
  background-image: url('./img/player.jpg');
}


.container {
  margin: 50px auto;
  width: 300px;
}
.cell {
  background-color: white;
  border: 2px solid black;
  float: left;
  height: 96px;
  width: 96px;
}

.cell:hover {
  border-color: #27ff00;
}

