table {
    border-collapse: collapse;
    margin: 0 auto;
    overflow: hidden;
}

td, th {
    border: 2px solid #000;
    position: relative;
}

td {
    width: 100px;
    height: 100px;
}

td:before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #0063ef;
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
}

tbody tr:hover {
    background: #ffe581;
}

tbody td:hover:after {
    content: "";
    position: absolute;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    background: #ffe581;
    z-index: -1;
}

tbody td:hover:before {
    background: #000;
}

tbody td:hover {
    background: #ffcd00;
}